
.seccion{
    display: inline-block; ;
    margin-left: 20px;
}
.barra{
    background-color: #1E3A5F;  height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 0;
    padding: 0;
    
}

nav a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1E3A5F; /* azul oscuro para que combine con la navbar */
    text-align: center;
    background-color: #F5F1E3;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
li a {
    color: #FFFFFF;
    text-decoration: none;
    
}
h2, h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}